name: CI/CD Pipeline
on:
  push:
    branches:
      - main
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    environment: AWS_ACCESS_KEY_ID
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "22"

      - name: Install dependencies
        run: npm install
        working-directory: api

      - name: Generate prisma client
        run: npx prisma generate
        working-directory: api
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}

      - name: Apply all pending migrations to the database
        run: npx prisma migrate deploy
        working-directory: api
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}

      - name: Zip project
        run: |
          cd api
          zip -r ../deployment.zip dist node_modules prisma package.json

      - name: Deploy to AWS LAMBDA
        uses: appleboy/lambda-action@v0.2.0
        with:
          aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws_region: ${{ secrets.AWS_REGION }}
          function_name: gorush
          zip_file: deployment.zip
